.title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 15px;
    border: 1px solid black;
    max-width: 600px;
    height: 30px;
    text-align: left;
    margin: 5px;
    padding: 5px;

}

.fa-plus{
    color: #82a0d4;
    cursor: pointer;
}